@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";

@theme {
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px);
    }
  }
}